<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/03-Select.css" />
  </head>
  <body>
    <div id="app">
      <div class="select-box">
        <select v-model="cityActive">
          <option disabled value="">請選擇縣市</option>
          <option
            v-for="item in twZip.city"
            :value="item.name"
            :key="item.name"
          >
            {{item.name}}
          </option>
        </select>
        <select>
          <option disabled value="">請選擇區域</option>
        </select>
      </div>
      <a class="btn">送出</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <script>
      const { onMounted, reactive, ref, watch } = Vue;
      const App = {
        setup() {
          const twZip = reactive({ city: [], area: [] });
          const cityActive = ref("");
          const areaActive = ref("");
          console.log(111);
          watch(cityActive, (newCity) => {
            console.log(newCity);
          });
          onMounted(() => {
            axios
              .get("https://vue-lessons-api.herokuapp.com/city/list ")
              .then((res) => {
                twZip.city = res.data.twzip.city;
                console.log(twZip.city);
              });
          });
          return { twZip, cityActive };
        },
      };

      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
